# Ignore artifacts:
build
coverage

# Ignore all HTML files:
*.html

# Ignore yaml files
*.yaml
*.yml

# Ignore same files as eslintignore
node_modules/*

# Ignore same files as npmignore
.devcontainer/*
.vscode/*
test/*
.npm/*
.config/
.*ignore
Dockerfile
